@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rationale&display=swap");
.actividad__detalle-1 {
  background-color: black;
  color: white;
}

.actividad__detalle-2 {
  background-color: black;
  color: white;
}

.actividad__detalle-3 {
  background-color: black;
  color: white;
}

.oculto {
  display: flex;
}
@media (max-width: 1000px) {
  .oculto {
    display: none;
  }
}

@media (max-width: 1000px) {
  .oculto {
    display: none;
  }
}
header {
  background-color: black !important;
  font-size: 20px;
}
header .logo__img {
  height: 80%;
  width: 30px;
}
header .header__btn {
  background-color: #00d9c0 !important;
  color: black !important;
  font-size: 1vw !important;
  border-radius: 15px !important;
  border: none;
}
header .text--blue {
  color: #00d9c0 !important;
}
header .text--white {
  color: white !important;
}
header .mi__menu {
  background-color: #00d9c0;
  border-top: 2px solid black !important;
  border-width: 2px solid black !important;
}
header .menu__fondo {
  background-color: black !important;
}
header .menu__lista {
  list-style-type: none;
}

* {
  font-family: "Rationale", sans-serif;
  margin: 0;
  padding: 0;
}

.fondo {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.text--black {
  color: black;
}

.text--white {
  color: white;
}

.text--blue {
  color: #00d9c0;
}

/* INICIO */
.section1__frase {
  font-size: 4vw;
  font-family: "Lobster Two", sans-serif;
}

.seccion1__imagen {
  height: 80%;
  width: 80%;
}

.section1__btn {
  height: 5vw;
  width: 20vw;
  background-color: #00d9c0;
  color: black;
  font-size: 3vw;
}

.section2__carrusel {
  border: 2px solid #00d9c0;
}

.seccion2 {
  border-radius: 5px;
  border-top: 2px solid #00d9c0;
  border-bottom: 2px solid #00d9c0;
}

.seccion2__imagen {
  height: 80%;
  width: 80%;
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.nombre__actividad {
  color: #00d9c0;
}

.section4 {
  background-color: #00d9c0;
}

.text__oferta {
  color: black;
  font-size: 4vw;
}

.section2__btn {
  height: 5vw;
  width: 10vw;
  background-color: #00d9c0;
  color: black;
  font-size: 3vw;
}

/* FOOTER */
footer {
  width: 100%;
  height: 8vw;
  background-color: black;
}
footer .footer__contenedor {
  display: flex;
  align-content: center;
}
footer .footer__logo {
  height: 6vw;
  width: 6vw;
  aspect-ratio: 1/1;
  border-radius: 40%;
}
footer .footer__seguinos {
  color: white;
  font-size: 2vw;
}
footer .footer__icono {
  height: 3vw;
  width: 3vw;
  aspect-ratio: 1/1;
}
footer .footer__contenedorSeguinos {
  display: flex;
  flex-direction: reverse;
  padding-bottom: 5%;
}
footer .footer__celda {
  height: 3vw;
  width: 25vw;
}
footer .footer__btn {
  height: 4vw;
  width: 10vw;
  color: black;
  background-color: #00d9c0;
  font-size: 2vw;
  border-radius: 3px;
}

.actividades__titulo {
  padding: 4% 0;
  background-color: black;
  color: white;
  font-size: 8vw;
}

.actividades__contenedor {
  border-radius: 5px;
  border: 2px solid #00d9c0;
}

.actividades__subtitulo {
  background-color: #00d9c0;
  color: black;
  font-size: 4vw;
}

.actividades__detalle {
  background-color: black;
  color: white;
  font-size: 2vw;
  padding: 5% 0;
}

.actividades__img {
  padding-top: 10%;
  height: 80%;
  width: 80%;
  aspect-ratio: 1/1;
}

.contactos__contenedor {
  margin: 4% 0;
  padding: 5%;
  background-color: #00d9c0;
}

.contactos__titulo {
  padding: 4% 0;
  background-color: black;
  color: #00d9c0;
  font-size: 5vw;
}

.contactos__nombre {
  color: black;
  font-size: 4vw;
}

.contactos__item {
  text-decoration: underline;
  color: black;
  font-size: 3vw;
}

.contactos__detalle {
  font-size: 2vw;
  color: black;
}

.contactos__img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.crearUsuario__titulo {
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: #00d9c0;
  color: black;
  font-size: 7vw;
}

.crearUsuario__item {
  background-color: black;
  color: #00d9c0;
  font-size: 3vw;
}

.crearUsuario__celda {
  width: 80%;
  height: 40px;
  font-size: 2vw;
}

.crearUsuario__btn {
  color: black;
  font-size: 2vw;
  width: 12vw;
  padding: 0 1vh;
  background-color: #00d9c0;
}

.crearUsuario__img {
  height: 80%;
  width: 80%;
  aspect-ratio: 1/1;
}

.login__titulo {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #00d9c0;
  color: black;
  font-size: 7vw;
}

.login__item {
  background-color: black;
  color: #00d9c0;
  font-size: 3vw;
}

.login__celda {
  width: 80%;
  height: 40px;
  font-size: 2vw;
}

.login__comentarios {
  width: 80%;
  height: 100px;
  font-size: 2vw;
}

.login__btn {
  color: black;
  font-size: 2vw;
  width: 12vw;
  padding: 0 1vh;
  background-color: #00d9c0;
}

.login__recuperarContraseña {
  width: 25vw;
  font-size: 3vw;
  background-color: black;
  color: #00d9c0;
  border: 2px solid #00d9c0;
}

.planes__titulo {
  margin: 3% 0;
  background-color: #00d9c0;
  color: black;
  font-size: 8vw;
  border-radius: 50px;
}

.planes__contenedor {
  margin-top: 5%;
  margin-bottom: 5%;
}

.planes__img {
  height: 50vw;
  width: 30vw;
  border-radius: 10px;
}

.reservar__contenedor {
  margin-top: 8%;
  margin-bottom: 8%;
}

.reservar__titulo {
  background-color: black;
  color: #00d9c0;
  font-size: 7vw;
}

.reservar__celda {
  background-color: #00d9c0;
  border-radius: 10px;
  border: 2px solid white;
}

.reservar__item {
  color: black;
  font-size: 6vw;
}

.reservar__seleccionar {
  font-size: 4vw;
}

.reservar__opcion {
  color: black;
  font-size: 3vw;
}

.reservar__btn {
  height: 7vw;
  width: 15vw;
  background-color: black;
  color: #00d9c0;
  font-size: 3vw;
}

.rutinas__titulo {
  background-color: #00d9c0;
  color: black;
  font-size: 4vw;
}

.rutinas__descrip {
  background-color: black;
  color: #00d9c0;
}

.rutinas__video {
  display: flex;
  height: 90%;
  width: 80%;
  align-items: center;
}

.rutinas__subtitulos {
  color: white;
  background-color: black;
  font-size: 40px;
}

.sedes__titulo {
  font-size: 6vw;
}

.sedes__localidad {
  font-size: 5vw;
  color: black;
  background-color: #00d9c0;
}

.sedes__gym {
  font-size: 4vw;
}

/*# sourceMappingURL=app.css.map */
