@import '../basics/colors';
@import '../basics/typography.scss';


// RUTINAS


.rutinas__titulo {
    background-color: $color-terciario;
    color: $color-primario;
    font-size: 4vw;
}

.rutinas__descrip {
    background-color: $color-primario;
    color: $color-terciario;
}

.rutinas__video {
    display:flex;
    height: 90%;
    width: 80%;
    align-items: center;
}

.rutinas__subtitulos {
    color: $color-secundario;
    background-color: $color-primario;
    font-size: 40px;
}