@import '../basics/colors';
@import '../basics/typography.scss';

// HEADER 
.oculto {
    display: flex;
    @include mediaquery(){
        display: none;
    }
}
@media (max-width:1000px){
    .oculto {
        display: none;
    }
}

header {
    background-color:$color-primario !important;
    font-size:20px;
    border-bottom: 2px solid $color-secundario;
    .logo__img {
        height: 80%;
        width: 30px;
    }
    .header__btn {
        background-color: $color-terciario !important;
        color: $color-primario !important;
        font-size: 1vw !important;
        border-radius: 15px !important;
        border: none;
        :hover {
            background-color: $color-cuatro;
            transform: scale(1.5,1.5) !important;
        }
    }
    .text--blue{
        color: $color-terciario !important;
    }
    
    .text--white{
        color: $color-secundario !important;
    }
    .mi__menu {
        background-color: $color-terciario;
        border-top: 2px solid $color-primario !important;
        border-width: 2px solid $color-primario !important;
    }
    .menu__fondo{
        background-color: $color-primario !important;
        li a:hover{
            color: $color-terciario !important;
        }
        li {
            border-left: 1px solid $color-terciario;
        }
        li:nth-child(1){
            border-left: 0;
        }
        
    }
    .menu__lista {
        list-style-type: none;
        li a:hover{
            color: $color-secundario !important;
        }
    }

}

