@import '../basics/colors';
@import '../basics/typography.scss';

*{
    font-family: 'Rationale', sans-serif;
    margin: 0;
    padding: 0;
}

.fondo{
    background-image: url('../imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
@include text ("black",$color-primario);
@include text ("white",$color-secundario);
@include text ("blue",$color-terciario);

/* INICIO */

.section1__frase {
    font-size: 4vw;
    font-family: 'Lobster Two', sans-serif;
}
.seccion1__imagen {
    height: 80%;
    width: 80%;
    animation-name: desplazamiento;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-direction: alternate;
}
@keyframes desplazamiento {
    25% {
        transform: translateX(40px);
    }
    50%{
        transform: translateY(15px);
    }
    75%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateY(-15px);
    }

}
.section1__btn {
    height: 5vw;
    width: 20vw;
    background-color: $color-terciario;
    color: $color-primario;
    font-size: 3vw;
    a:hover {
        background-color: $color-cuatro;
    }
}
.section2__carrusel {
    border: 2px solid $color-terciario;
}
.seccion2 {
    border-radius: 5px;
    border-top: 2px solid $color-terciario;
    border-bottom: 2px solid $color-terciario;
}
.seccion2__imagen1 {
    height: 80%;
    width: 80%;
    transition: all 2s ease;
}
.seccion2__imagen1:hover {
    transform: rotateY(180deg);
    transition: all 2s ease;
}

.seccion2__imagen {
    height: 80%;
    width: 80%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    transition: all 2s ease;
}
.seccion2__imagen:hover {
    transform: rotateY(180deg);
    transition: all 2s ease;
}
.nombre__actividad {
    color: $color-terciario;
}

.section4 {
    background-color: $color-terciario;
}

.text__oferta {
    color: $color-primario;
    font-size: 4vw;
}
.section2__btn {
    height: 5vw;
    width: 10vw;
    background-color: $color-terciario;
    color: $color-primario;
    font-size: 3vw;
}